body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  border: 1px solid black;
  padding: 3px;
}

caption {
  font-weight: bold;
  border-bottom: none;
}

.weekend {
  color: red;
}
